<!-- <section>
  <form action="/users" method="post">
    <fieldset>
      <legend>Who are you?</legend>
      <label for="name">User Name:</label>
      <input name="name" placeholder="USER NAME" />
    </fieldset>
    <button type="submit">Figure it out</button>
  </form>
</section> -->

<% if @buddies.any? %>
<section>
  <dl>
    <% @buddies.each do |buddy| %>
    <dt>Name: <%= buddy.name %></dt>
    <dd>Food level: <%= buddy.food_level %></dd>
    <dd>Sleep level: <%= buddy.sleep_level %></dd>
    <dd>Activity level: <%= buddy.activity_level %></dd>
    <% end %>
  </dl>
</section>
<% else %>
<section>
  <p>… suddenly, a cloud of zeroes and ones swarms around your head.</p>
  <form action="/buddies" method="post">
    <!-- <label>Name the cloud:</label>
    <input name="name" placeholder="Name the cloud" /> -->
    <button type="submit">Swat at it</button>
    <button type="submit">Play with it</button>
  </form>

</section>
<% end %>

<% if @buddies.any? %>
<section>
  <form action="/shelters" method="post">
    <p>Build a shelter!</p>
    <button type="submit">Gimme shelter!</button>
  </form>
</section>
<% end %>
