<!DOCTYPE html>
<html>
<head>
  <title>Binary Buddies</title>
  <link href="//fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Oswald:400,700|Playfair+Display:400,400italic|Lato:900" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/styles/global.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Binary Buddies</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Source available on <a href="//github.com/zulaica/BinaryBuddies" target="_blank">GitHub</a>.</p>
  </footer>
</body>
</html>
