<!--

༼ ❛ ‿ ❛ ༽

-->

<!DOCTYPE html>
<html>
<head>
  <title>Binary Buddies</title>
  <link href="//fonts.googleapis.com/css?family=Fira+Mono:400,700" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/styles/global.css" rel="stylesheet" />
</head>
<body ontouchstart>
  <header>
    <h1>Binary Buddies</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p><a href="//zulaica.info" target="_blank">▶︎▲▼⬆︎▶︎</a> made this with the help of <a href="//github.com/zulaica/BinaryBuddies#credits" target="_blank">these people</a>.</p><p>Source available on <a href="//github.com/zulaica/BinaryBuddies" target="_blank">GitHub</a>.</p>
  </footer>
</body>
</html>
